<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Deviation</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Price Deviation</h1>
      
      <div class="result">
        <h2>
          <%= coin.charAt(0).toUpperCase() + coin.slice(1) %> Price Deviation
        </h2>
        <p>Standard Deviation: <%= deviation %> USD</p>
      </div>
      <a href="/">Back to Home</a>
    </div>
  </body>
</html>